body .ui-chkbox-label {
    display: inline-block;
}

td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.p-form {
    margin: 5px 0;
    background: #d5edff;
    padding: 20px;
    border: 1px solid gray;
}

.p-grid {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.p-field {
    margin-bottom: .6em;
    padding: .5em;
}

.p-field label {
    display: block;
    margin-bottom: .1em;
}

@media screen and (min-width: 768px) {
    .p-md-1,
    .p-md-2,
    .p-md-3,
    .p-md-4,
    .p-md-5,
    .p-md-6 {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto
    }

    .p-md-1 {
        width: 8.3333%
    }

    .p-md-2 {
        width: 16.6667%
    }

    .p-md-3 {
        width: 25%
    }

    .p-md-4 {
        width: 33.3333%
    }

    .p-md-5 {
        width: 41.6667%
    }

    .p-md-6 {
        width: 50%
    }
}