@import 'constants.less';

.container {
    .topbar {
        .topbar-right {
            padding: 1.25rem;
            display: block;
            margin-left: 25px;
            height: 100%;
            overflow: hidden;
        }
    }

    .left-menu {
        -moz-transition: left @menu-close-speed;
        -o-transition: left @menu-close-speed;
        -webkit-transition: left @menu-close-speed;
        transition: left @menu-close-speed;

        position: absolute;
        overflow: auto;
        left: -@left-menu-width;
        width: @left-menu-width;
        top: 0;
        bottom: 0;
        border-right: 1px solid #cccccc;
        z-index: 1;
        background: #fff;
    }
}

.container.menu-layout-open {
    .left-menu {
        left: 0;
    }
}

@media (max-width: 1024px) {
    .container.menu-layout-open {
        .layout-mask {
            display: block;
        }
    }
}

@media (min-width: 1025px) {
    .container.menu-layout-open {
        .main {
            margin-left: @left-menu-width;
        }

        .footer {
            margin-left: @left-menu-width;
        }
    }
}