@import 'constants.less';

html {
    height: 100%;
    margin: 0;
}

body {
    height: 100%;
    margin: 0;
    font-family: "Source Sans Pro", "Helvetica Neue", sans-serif;
    font-size: 14px;
    color: #333333;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0;
    margin: 0;
    background-color: #f4f3f8;
}

body .ui-datepicker-buttonbar .ui-button.ui-state-default.ui-button-secondary {
    background-color: transparent;
    border-color: transparent;
    color: #2196F3;
}

body .ui-table-hoverable-rows .ui-table-tbody > tr:hover {
    background: #d5edff;
    color: #495057;
}

app-toast {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 25rem;
    z-index: 1020;
}

a {
    cursor: pointer;
}

.green {
    color: #06d23c;
}

.red {
    color: red;
}

.p-grid {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.ui-button {
    border-radius: 6px;
}

.ui-button.ui-button-text {
    padding: 0.429em 1em;
    width: auto !important;
}

*,
&:before,
&:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:not(form).ng-dirty.ng-invalid {
    -moz-box-shadow: 0 0 3px #f00;
    -webkit-box-shadow: 0 0 3px #f00;
    box-shadow: 0 0 3px #f00;
}

.container {
    overflow-y: auto;
    position: relative;
    height: 100%;

    .topbar {
        color: white;
        height: @topbar-height;
        background-color: #146fd7;
        background-image: -webkit-gradient(linear, left top, right top, from(#146fd7), to(#146fd7));
        background-image: -webkit-linear-gradient(to right, #146fd7, #146fd7);
        background-image: -moz-linear-gradient(to right, #146fd7, #146fd7);
        background-image: -ms-linear-gradient(to right, #146fd7, #146fd7);
        background-image: -o-linear-gradient(to right, #146fd7, #146fd7);
        background-image: linear-gradient(to right, #146fd7, #146fd7);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorStr="#146fd7", endColorStr="#146fd7", gradientType="1");

        h3,
        h4 {
            margin: 0;
            padding: 3px;
        }

        .topbar-left {
            width: @left-menu-width;
            padding: 5px 10px;
            position: relative;
            height: 100%;
            float: left;
        }
    }

    .topbar,
    app-footer {
        -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
        -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
    }

    .main,
    app-footer {
        -moz-transition: margin-left @menu-close-speed;
        -o-transition: margin-left @menu-close-speed;
        -webkit-transition: margin-left @menu-close-speed;
        transition: margin-left @menu-close-speed;
    }

    .wrap {
        position: relative;
        min-height: 100 - @topbar-height - @footer-height;
    }

    .main {
        padding: 20px;
    }

    app-footer {
        overflow: hidden;
        display: block;
        height: @footer-height;
        padding: 0.93rem 1.25rem;

        .powerby {
            float: right;
            font-weight: bold;
        }
    }
}