@charset "UTF-8";
/*
@import '../../../node_modules/primeng/resources/themes/nova-colored/theme.css';
@import '../../../node_modules/primeng/resources/primeng.min.css';
*/

// Color variables (appears count calculates by raw css)
@color0: #ffffff; // Appears 38 times
@color1: #333333; // Appears 22 times
@color2: #007ad9; // Appears 16 times
@color3: #212121; // Appears 13 times
@color4: #c8c8c8; // Appears 13 times
@color5: #a6a6a6; // Appears 6 times
@color6: #4c4c4c; // Appears 5 times
@color7: #848484; // Appears 5 times
@color8: #005b9f; // Appears 4 times
@color9: #116fbf; // Appears 3 times
@color10: #dee2e6; // Appears 3 times
@color11: #2196f3; // Appears 3 times
@color12: #eaeaea; // Appears 3 times
@color13: #ffe399; // Appears 2 times
@color14: #f4f4f4; // Appears 2 times
@color15: #f8b7bd; // Appears 2 times
@color16: #8dcdff; // Appears 2 times
@color17: #b7d8b7; // Appears 2 times
@color18: #0c6b0d; // Appears 2 times
@color19: #107d11; // Appears 2 times
@color20: #34a835; // Appears 2 times

// Width variables (appears count calculates by raw css)
@width0: calc(100% - 2.357em); // Appears 2 times
@width4: 2.286em; // Appears 2 times
@width6: 12.5em; // Appears 3 times
@width8: 1.8em; // Appears 2 times
@width9: 100%; // Appears 15 times
@width11: 20em; // Appears 2 times
@width13: 20px; // Appears 4 times
@width15: 2.3em; // Appears 6 times
@width16: 7px; // Appears 2 times
@width17: 1px; // Appears 2 times
@width19: 1em; // Appears 3 times
@width20: 25%; // Appears 2 times
@width21: 99%; // Appears 2 times

// Height variables (appears count calculates by raw css)
@height0: 2.286em; // Appears 2 times
@height3: 1.8em; // Appears 2 times
@height4: 300px; // Appears 2 times
@height5: 100%; // Appears 11 times
@height6: 20px; // Appears 4 times
@height8: 1em; // Appears 3 times

*,
&:before,
&:after {
	box-sizing: border-box;
}

*:focus {
	box-shadow: 0 0 0 0.2em @color16;
	outline-offset: 0;
	outline: 0 none;
}

a {
	color: @color2;
	cursor: pointer;
	text-decoration: none;

	&:hover {
		color: @color9;
	}

	&:active {
		color: @color8;
	}
}

.pi {
	font-size: 1.25em;
}

.ui-scrollbar-measure {
	width: 100px;
	height: 100px;
	overflow: scroll;
	position: absolute;
	top: -9999px
}

.ui-corner-all {
	border-radius: 3px;
}

.ui-helper-reset {
	line-height: normal;
}

.ui-state-disabled {
	cursor: default !important;
	filter: alpha(opacity=50);
	opacity: 0.5;
}

.ui-helper-hidden {
	display: none !important;
}

.ui-widget {
	font-family: Open Sans, Helvetica Neue, sans-serif;
	font-size: 14px;
	text-decoration: none;

	&:disabled {
		opacity: 0.5;
	}
}

.ui-widget-overlay {
	background-color: rgba(0, 0, 0, 0.4);
	height: @height5;
	left: 0;
	position: absolute;
	top: 0;
	width: @width9;
	display: none;
}

.ui-widget-content {
	p {
		line-height: 1.5;
		margin: 0;
	}

	.ui-inputtext {
		font-weight: 400;
	}
}

.ui-link {
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	background-color: transparent;
	border-radius: 3px;
	border: 0;
	cursor: pointer;
	font-family: Open Sans, Helvetica Neue, sans-serif;
	font-size: 14px;
	margin: 0;
	padding: 0;
	text-align: left;
	user-select: none;
}

.ui-inputtext {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background: @color0;
	border: 1px solid @color5;
	color: @color1;
	font-size: 14px;
	font-weight: 400;
	margin: 0;
	outline: medium none;
	padding: 0.25em;
	padding: 0.429em;
	transition: border-color 0.2s, box-shadow 0.2s;

	&:enabled {
		&:hover {
			&:not(.ui-state-error) {
				border-color: @color3;
			}
		}

		&:focus {
			&:not(.ui-state-error) {
				border-color: @color2;
				box-shadow: 0 0 0 0.2em @color16;
				outline-offset: 0;
				outline: 0 none;
			}
		}
	}
}

.ui-radiobutton {
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	cursor: pointer;
	display: inline-block;
	display: inline-block;
	height: @height6;
	margin-right: 0.25em;
	margin: 0;
	user-select: none;
	vertical-align: middle;
	vertical-align: middle;
	width: @width13;

	.ui-radiobutton-box {
		background-color: @color0;
		border-radius: 50%;
		border: 1px solid @color5;
		height: @height6;
		position: relative;
		text-align: center;
		transition: background-color 0.2s, border-color 0.2s, box-shadow 0.2s;
		width: @width13;

		&.ui-state-active {
			background-color: @color2;
			border-color: @color2;
			color: @color0;

			.ui-radiobutton-icon {
				background-color: @color0;
			}
		}

		.ui-radiobutton-icon {
			background: 0 0;
			border-radius: 50%;
			display: inline-block;
			height: 10px;
			left: 50%;
			margin-left: -5px;
			margin-top: -5px;
			position: absolute;
			top: 50%;
			transition: background-color 0.2s;
			width: 10px;

			&:before {
				display: none;
			}
		}
	}
}

.ui-radiobutton-label {
	margin: 0 0 0 0.5em;
}

.ui-button {
	background-color: @color2;
	border-radius: 6px;
	border: 1px solid @color2;
	color: @color0;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	margin: 0;
	padding: 0.429em 1em;
	position: relative;
	transition: background-color 0.2s, box-shadow 0.2s;

	&:enabled {
		&:hover {
			background-color: @color9;
			border-color: @color9;
			color: @color0;
		}

		&:active {
			background-color: @color8;
			border-color: @color8;
			color: @color0;
		}
	}

	&[disabled] {
		background: @color4;
		border-color: @color4;
	}
}

.ui-button.ui-button-text-icon-left {
	.ui-button-text {
		padding: 0.429em 1em 0.429em 2em;
	}
}

.ui-button.ui-button-text-icon-right {
	.ui-button-text {
		padding: 0.429em 2em 0.429em 1em;
	}
}

.ui-button-icon-only {
	.ui-button-icon-left {
		top: 50%;
		left: 50%;
		margin-left: -.5em;
		margin-top: -.5em;
		height: @height8;
		width: @width19;
		position: absolute;
	}

	.ui-button-text {
		padding: 0.429em;
		text-indent: -9999999px;
		visibility: hidden;
		display: block;
		line-height: normal;
	}
}

.ui-button.ui-state-default.ui-button-success {
	background-color: @color20;
	border: 1px solid @color20;
	color: @color0;

	&:enabled {
		&:hover {
			background-color: @color19;
			border-color: @color19;
			color: @color0;
		}

		&:focus {
			box-shadow: 0 0 0 0.2em #aae5aa;
		}

		&:active {
			background-color: @color18;
			border-color: @color18;
			color: @color0;
		}
	}
}

.ui-inputnumber {
	display: inline-flex;
}

.ui-inputnumber-buttons-stacked {

	.ui-inputnumber-button-group {
		display: flex;
		flex-direction: column;
	}

	.ui-inputnumber-button {
		flex: 1 1 auto;
		width: 2.357em;
		border-radius: 0;
		padding: 0;
	}

	.ui-button-text {
		display: none;
	}
}

.ui-inputswitch {
	position: relative;
	display: inline-block;
	width: 3em;
	height: 1.75em;

	.ui-inputswitch-slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		transition: .3s;
		border-radius: 30px;
		background-color: @color4;

		&:before {
			content: "";
			position: absolute;
			background-color: @color0;
			height: 1.25em;
			width: 1.25em;
			left: 0.25em;
			bottom: 0.25em;
			border-radius: 50%;
			-webkit-transition: 0.2s;
			transition: 0.2s;
		}
	}
}
.ui-inputswitch-checked {
	&:not(.ui-state-disabled) .ui-inputswitch-slider {
		background-color: @color9;
	}
	& .ui-inputswitch-slider:before {
		-webkit-transform: translateX(1.250em);
		-ms-transform: translateX(1.250em);
		transform: translateX(1.250em)
	}
}
.ui-chkbox {
	display: inline-block;
	height: @height6;
	margin: 0;
	vertical-align: middle;
	width: @width13;

	.ui-chkbox-box {
		background-color: @color0;
		border-radius: 3px;
		border: 1px solid @color5;
		height: @height6;
		line-height: 1.125em;
		text-align: center;
		transition: background-color 0.2s, border-color 0.2s, box-shadow 0.2s;
		width: @width13;

		.ui-chkbox-icon {
			font-size: 18px;
			overflow: hidden;
			position: relative;
		}
	}

	.ui-chkbox-box.ui-state-active {
		background-color: @color2;
		border-color: @color2;
		color: @color0;
	}
}

.ui-chkbox-label {
	margin: 0 0 0 0.5em;
	vertical-align: middle;
}

.ui-dialog {
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
	display: flex;
	flex-direction: column;
	padding: 0;
	padding: 0;
	pointer-events: auto;
	position: relative;

	.ui-dialog-content {
		background-color: @color0;
		border: 1px solid @color4;
		color: @color1;
		overflow-y: auto;
		position: relative;
		padding: 1em 2em;
		font-size: 18px;
	}

	.ui-dialog-footer {
		background-color: @color0;
		border-top: 0;
		border: 1px solid @color4;
		color: @color1;
		margin: 0;
		padding: 0.571em 1em;
		position: relative;
		text-align: right;

		button {
			margin: 0 0.5em 0 0;
			width: auto;
		}
	}

	.ui-dialog-titlebar {
		border: 1px solid #007ad9;
		background-color: #007ad9;
		color: #ffffff;
		padding: 1em;
		font-weight: 700;
		border-bottom: 0 none;
	}

	.ui-dialog-title {
		margin: 0;
		float: none;
	}

	.ui-dialog-titlebar-icons {
		float: right;
	}

	.ui-dialog-titlebar-icon {
		display: inline-block;
		color: #ffffff;
		border: 0 none;
		padding: 0;
		margin-left: 0.5em;
		transition: color 0.2s, background-color 0.2s, box-shadow 0.2s;
	}
}

.ui-dialog-visible {
	display: flex;
	justify-content: center;
	align-items: center;
}

.ui-confirmdialog {
	width: 30em;
}

.ui-confirmdialog-icon {
	font-size: 1.5em;
	margin-right: .5em;
	position: relative;
	top: .2em;
}

.ui-overlaypanel {
	background-color: @color0;
	border-radius: 0;
	border: 1px solid @color4;
	color: @color1;
	margin: 10px 0 0;
	padding: 0;
	padding: 0;
	position: absolute;

	.ui-overlaypanel-content {
		padding: 0.571em 1em;
	}

	.ui-overlaypanel-close {
		background-color: @color2;
		color: @color0;
		height: 1.538em;
		line-height: 1.538em;
		position: absolute;
		right: -0.769em;
		text-align: center;
		top: -0.769em;
		transition: color 0.2s, background-color 0.2s, box-shadow 0.2s;
		width: 1.538em;

		.ui-overlaypanel-close-icon {
			line-height: inherit;
		}

		&:hover {
			background-color: @color8;
			color: @color0;
		}
	}

	&:after {
		border-color: hsla(0, 0%, 100%, 0) hsla(0, 0%, 100%, 0) @color0;
		border-width: 8px;
		border: solid transparent;
		bottom: 100%;
		content: " ";
		height: 0;
		left: 1.25em;
		margin-left: -8px;
		pointer-events: none;
		position: absolute;
		width: 0;
	}

	&:before {
		border-color: hsla(0, 0%, 78.4%, 0) hsla(0, 0%, 78.4%, 0) @color4;
		border-width: 10px;
		border: solid transparent;
		bottom: 100%;
		content: " ";
		height: 0;
		left: 1.25em;
		margin-left: -10px;
		margin-right: -10px;
		pointer-events: none;
		position: absolute;
		width: 0;
	}
}

.ui-menu {
	background-color: @color0;
	border: 1px solid @color4;
	padding: 0;
	padding: 0.25em;
	width: @width6;

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
}

.ui-menu.ui-shadow {
	border: 1px solid @color4;
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
}

.ui-icon {
	background-repeat: no-repeat;
	display: block;
	overflow: hidden;
	text-indent: -99999px;
}

.ui-resizable {
	position: relative;
}

.ui-resizable-handle {
	display: block;
	font-size: 0.1px;
	position: absolute;
}

.ui-resizable-s {
	bottom: -5px;
	cursor: s-resize;
	height: 7px;
	left: 0;
	width: @width9;
}

.ui-resizable-e {
	cursor: e-resize;
	height: @height5;
	right: -5px;
	top: 0;
	width: @width16;
}

.ui-resizable-w {
	cursor: w-resize;
	height: @height5;
	left: -5px;
	top: 0;
	width: @width16;
}

.ui-shadow {
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
}

button,
input[type=button],
input[type=file]::-webkit-file-upload-button,
input[type=reset],
input[type=submit] {
	border-radius: 0;
}

.ui-autocomplete {
	width: @width9;
	position: relative;

	.ui-inputtext {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}

	.ui-autocomplete-dropdown.ui-button {
		width: 2.357em;
		padding: 0;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}

	.ui-autocomplete-loader {
		position: absolute;
		right: 2.25em;
		top: 50%;
		margin-top: -.5em;
	}
}

.ui-autocomplete-panel {
	position: absolute;
	overflow: auto;
	padding: 0;
	border: 1px solid #c8c8c8;
	background-color: #ffffff;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);

	.ui-autocomplete-items {
		padding: 0;
		margin: 0;
		border: 0 none;

		.ui-autocomplete-list-item {
			margin: 0;
			padding: 0.429em 0.857em;
			border: 0 none;
			color: @color1;
			background-color: transparent;
			border-radius: 0;
			cursor: pointer;
		}
	}
}

.ui-calendar {
	display: inline-flex;
	position: relative;

	.ui-button-text {
		display: none;
	}

	.ui-calendar-button {
		vertical-align: top;
		border-bottom-left-radius: 0;
		border-left: 0;
		border-top-left-radius: 0;
		width: @width15;

		&:enabled {
			&:hover {
				border-left: 0;
			}
		}

		&:focus {
			border-left: 0;
		}
	}
}

.ui-calendar.ui-calendar-w-btn {
	.ui-inputtext {
		border-bottom-right-radius: 0;
		border-right: 0 none;
		border-top-right-radius: 0;
	}
}

.ui-datepicker {
	background-color: @color0;
	border: 1px solid @color4;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
	color: @color1;
	min-width: @width11;
	padding: 0.857em;
	position: absolute;
	width: auto;

	.ui-datepicker-header {
		background-color: @color0;
		border-radius: 0;
		color: @color1;
		padding: 0;
		position: relative;
	}

	.ui-datepicker-title {
		line-height: 1;
		text-align: center;
	}

	select.ui-datepicker-month {
		margin-right: 0.25em;
	}

	.ui-datepicker-prev {
		color: @color5;
		cursor: pointer;
		height: @height3;
		left: 0.125em;
		position: absolute;
		top: 0;
		transition: color 0.2s, box-shadow 0.2s;
		width: @width8;

		&:hover {
			color: @color2;
		}

		span {
			left: 50%;
			margin-left: -0.5em;
			margin-top: -0.5em;
			position: absolute;
			top: 50%;
		}
	}

	.ui-datepicker-next {
		color: @color5;
		cursor: pointer;
		height: @height3;
		position: absolute;
		right: 0.125em;
		top: 0;
		transition: color 0.2s, box-shadow 0.2s;
		width: @width8;

		&:hover {
			color: @color2;
		}

		span {
			left: 50%;
			margin-left: -0.5em;
			margin-top: -0.5em;
			position: absolute;
			top: 50%;
		}
	}

	table {
		td>a {
			border-radius: 3px;
			color: @color1;
			display: block;
			padding: 0.5em;
			text-align: center;
			transition: box-shadow 0.2s;

			&:not(.ui-state-active) {
				&:not(.ui-state-highlight) {
					&:hover {
						background-color: @color12;
					}
				}
			}
		}

		td>a.ui-state-active {
			background-color: @color2;
			color: @color0;
		}
	}

	.ui-datepicker-today>a {
		background-color: #d0d0d0;
		color: @color1;
	}

	.ui-datepicker-buttonbar {
		border-top: 1px solid #d8dae2;
		display: flex;
		justify-content: space-between;
		padding: 0.5em;

		.ui-button {
			background-color: transparent;
			border-color: transparent;
			color: @color11;
		}
	}
}

.ui-helper-hidden-accessible {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: @width17;
}

.ui-dropdown {
	background: @color0;
	border: 1px solid @color5;
	cursor: pointer;
	display: inline-flex;
	min-width: @width6;
	position: relative;
	transition: border-color 0.2s, box-shadow 0.2s;

	.ui-placeholder {
		color: @color1;
		padding: 0.5em 0.3em;
	}

	.ui-dropdown-label {
		border: 0;
		color: @color1;
		display: inline-block;
		font-weight: 400;
		overflow: hidden;
		padding-right: 2.5em;
		padding: 0.5em 0.3em;
		vertical-align: middle;
		white-space: nowrap;
		width: @width9;
	}

	.ui-dropdown-trigger {
		background-color: @color0;
		color: @color7;
		height: @height5;
		line-height: 2em;
		padding: 0;
		position: absolute;
		right: 0;
		text-align: center;
		top: 0;
		width: @width15;

		.ui-dropdown-trigger-icon {
			left: 50%;
			margin-left: -0.5em;
			margin-top: -0.5em;
			position: absolute;
			top: 50%;
		}
	}

	label.ui-dropdown-label {
		cursor: pointer;
	}

	input.ui-dropdown-label {
		cursor: default;
	}
}

.ui-dropdown-panel {
	background-color: @color0;
	border: 1px solid @color4;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
	min-width: @width9;
	padding: 0;
	position: absolute;

	.ui-dropdown-items {
		border: 0 none;
		margin: 0;
		padding: 0;

		.ui-dropdown-item {
			background-color: transparent;
			border-radius: 0;
			border: 0 none;
			color: @color1;
			margin: 0;
			padding: 0.429em 0.857em;

			&:not(.ui-state-highlight) {
				&:not(.ui-state-disabled) {
					&:hover {
						background-color: @color12;
						color: @color1;
					}
				}
			}
		}

		.ui-dropdown-item.ui-state-highlight {
			background-color: @color2;
			color: @color0;
		}
	}

	.ui-dropdown-items-wrapper {
		overflow: auto;
	}
}

.ui-widget-header {
	.ui-inputtext {
		font-weight: 400;
	}
}

.ui-float-label {
	display: block;
	position: relative;
}

.ui-float-label>label {
	-moz-transition: 0.3s ease all;
	-webkit-transition: all 0.3s ease;
	color: #898989;
	font-weight: 400;
	left: 0.25em;
	line-height: 1;
	margin-top: -0.5em;
	pointer-events: none;
	position: absolute;
	top: 50%;
	transition: all 0.3s ease;
}

.ui-float-label>input {
	&:-webkit-autofill~label {
		font-size: 12px;
		top: -0.75em;
	}

	&:focus~label {
		font-size: 12px;
		top: -0.75em;
	}
}

.ui-overlaypanel-content {
	padding: 0.5em 1em;
}

.ui-overlaypanel-close {
	border-radius: 100%;
	cursor: pointer;
	height: 2em;
	line-height: 2em;
	position: absolute;
	right: -1em;
	text-align: center;
	top: -1em;
	width: @width15;
}

.ui-overlaypanel-close-icon {
	line-height: inherit;
}

.ui-paginator {
	background-color: @color14;
	border: 1px solid @color4;
	margin: 0;
	padding: 0;
	padding: 0.125em;
	text-align: center;

	.ui-paginator-top {
		border-bottom: 0;
	}

	.ui-paginator-bottom {
		border-top: 0;
	}

	.ui-paginator-left-content {
		float: left;
	}

	.ui-paginator-right-content {
		float: right;
	}

	.ui-paginator-icon {
		display: block;
		height: @height8;
		left: 50%;
		margin-left: -0.5em;
		margin-top: -0.5em;
		position: absolute;
		top: 50%;
		width: @width19;
	}

	.ui-paginator-current {
		background-image: none;
		margin-left: 1em;
		margin-right: 1em;
	}

	.ui-dropdown {
		margin-left: 0.375em;
		min-width: 4em;
	}

	a.ui-state-disabled {
		outline: 0 none;
	}

	.ui-paginator-pages {
		display: inline-block;
		line-height: 1;
		padding: 0;
		vertical-align: top;

		.ui-paginator-page {
			border-radius: 0;
			border: 0 none;
			color: @color7;
			height: @height0;
			line-height: @height0;
			margin: 0;
			min-width: @width4;
			padding: 0;
			transition: box-shadow 0.2s;
			vertical-align: top;
		}

		.ui-paginator-page.ui-state-active {
			background-color: @color2;
			color: @color0;
		}
	}
}

.ui-paginator .ui-paginator-current,
.ui-paginator .ui-paginator-first,
.ui-paginator .ui-paginator-prev,
.ui-paginator .ui-paginator-last,
.ui-paginator .ui-paginator-next,
.ui-paginator .ui-paginator-page {
	border: 0 none;
	color: @color7;
	cursor: pointer;
	display: inline-block;
	height: @height0;
	line-height: @height0;
	min-width: @width4;
	position: relative;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
}

.ui-table {
	position: relative;

	table {
		border-collapse: collapse;
		table-layout: fixed;
		width: @width9;
	}

	.ui-table-thead>tr>th {
		background-color: @color14;
		border: 1px solid @color4;
		color: @color1;
		font-weight: 700;
		padding: 0.25em 0.5em;
	}

	.ui-table-tbody>tr>td {
		background-color: inherit;
		border: 1px solid @color4;
		padding: 0.571em 0.857em;
		transition: box-shadow 0.2s;
	}

	p-sorticon {
		vertical-align: middle;
	}

	.ui-paginator-top {
		border-bottom: 0;
	}

	.ui-paginator-bottom {
		border-top: 0;
	}

	.ui-table-loading-icon {
		font-size: 2em;
	}

	.ui-table-tbody>tr {
		background-color: @color0;
		color: @color1;
		transition: background-color 0.2s, box-shadow 0.2s;

		&:nth-child(even) {
			background-color: #f9f9f9;
		}

		&:nth-child(even).ui-state-highlight {
			background-color: @color2;
			color: @color0;

			a {
				color: @color0;
			}
		}

		&:hover {
			background-color: @color12;
			color: @color1;
			cursor: default;
		}
	}

	.ui-table-virtual-scrollable-body {
		.ui-table-tbody>tr {
			&:nth-child(even) {
				background-color: @color0;
			}

			&:nth-child(even).ui-state-highlight {
				background-color: @color2;
				color: @color0;

				a {
					color: @color0;
				}
			}
		}
	}

	.ui-sortable-column.ui-state-highlight {
		background-color: @color2;
		color: @color0;
	}

	.ui-sortable-column {
		&:not(.ui-state-highlight) {
			&:hover {
				background-color: #e0e0e0;
				color: @color1;
				cursor: pointer;
			}
		}
	}

	.ui-column-resizer {
		border: 1px solid transparent;
		cursor: col-resize;
		display: block;
		height: @height5;
		margin: 0;
		padding: 0;
		position: absolute !important;
		right: 0;
		top: 0;
		width: 0.5em;
	}

	.ui-column-resizer-helper {
		background-color: @color2;
		display: none;
		position: absolute;
		width: @width17;
		z-index: 10;
	}
}

.ui-table-scrollable-footer {
	border: 0;
	overflow: hidden;
}

.ui-table-scrollable-header {
	border: 0;
	overflow: hidden;
}

.ui-table-scrollable-body {
	overflow: auto;
	position: relative;
}

.ui-table-flex-scrollable {
	display: flex;
	flex-direction: column;
	flex: 1;
	height: @height5;

	.ui-table-scrollable-view {
		display: flex;
		flex-direction: column;
		flex: 1;
		height: @height5;
	}

	.ui-table-scrollable-body {
		flex: 1;
	}
}

.ui-table-resizable {
	.ui-table-thead>tr>th {
		overflow: hidden;
	}

	.ui-resizable-column {
		background-clip: padding-box;
		position: relative;
	}
}

.ui-table-loading {
	height: @height5;
	opacity: 0.1;
	position: absolute;
	width: @width9;
	z-index: 1;
}

.ui-table-loading-content {
	left: 50%;
	margin-left: -1em;
	margin-top: -1em;
	position: absolute;
	top: 50%;
	z-index: 2;
}

.ui-tabview {
	padding: 0.25em;

	.ui-tabview-panels {
		position: relative;
		width: 100%;
		height: 100%;
		background-color: @color0;
		border-width: 0 1px 1px 1px;
		border: 1px solid @color4;
		color: @color1;
		padding: 0.571em 1em;
	}

	.ui-tabview-nav {
		display: flex;
		list-style-type: none;
		margin: 0;
		padding: 0;

		li {
			&:focus {
				box-shadow: none;
			}

			a {
				background: @color0;
				border: solid transparent;
				border-width: 0 0 2px 0;
				color: #6c757d;
				display: flex;
				padding: 1rem;
				transition: box-shadow 0.2s;

				&:focus {
					box-shadow: none;
				}
			}

			.ui-tabview-left-icon {
				margin-right: 0.25em;
				vertical-align: middle;
			}

			.ui-tabview-right-icon {
				margin-left: 0.25em;
				vertical-align: middle;
			}

			.ui-tabview-close {
				cursor: pointer;
				margin: 0.5em 0.3em 0 0;
			}
		}

		li.ui-tabview-selected {
			a {
				border-color: @color11;
				color: @color11;
			}
		}
	}

	.ui-tabview-title {
		line-height: 1;
	}
}

.ui-tabview-left {
	&:after {
		clear: both;
		content: ".";
		display: block;
		height: 0;
		visibility: hidden;
	}
}

.ui-tabview-right {
	&:after {
		clear: both;
		content: ".";
		display: block;
		height: 0;
		visibility: hidden;
	}
}

.ui-tabview-left>.ui-tabview-nav {
	background-image: none;
	float: left;
	height: @height4;
	padding-top: 1px;
	width: @width20;
}

.ui-tabview.ui-tabview-left>.ui-tabview-nav {
	li {
		border-right: 0;
		display: block;
		float: right;
		margin: 0 0 1px;
		white-space: normal;
		width: @width21;
	}
}

.ui-tabview.ui-tabview-right>.ui-tabview-nav {
	background-image: none;
	float: right;
	height: @height4;
	padding-top: 1px;
	width: @width20;

	li {
		border-left: 0;
		display: block;
		float: right;
		margin: 0 0 1px;
		white-space: normal;
		width: @width21;
	}
}

.ui-tooltip {
	display: none;
	max-width: @width6;
	padding: 0.25em 0.5em;
	pointer-events: none;
	position: absolute;

	.ui-tooltip-text {
		background-color: @color1;
		background-color: @color6;
		box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
		color: @color0;
		color: @color0;
		padding: 0.125em 0.5em;
		padding: 0.429em;
		white-space: pre-line;
	}
}

.ui-tooltip.ui-tooltip-right {
	padding: 0 0.25em;

	.ui-tooltip-arrow {
		border-right-color: @color1;
	}
}

.ui-tooltip.ui-tooltip-left {
	padding: 0 0.25em;

	.ui-tooltip-arrow {
		border-left-color: @color1;
	}
}

.ui-tooltip.ui-tooltip-top {
	padding: 0.25em 0;

	.ui-tooltip-arrow {
		border-top-color: @color1;
	}
}

.ui-tooltip.ui-tooltip-bottom {
	padding: 0.25em 0;

	.ui-tooltip-arrow {
		border-bottom-color: @color1;
	}
}

.ui-tooltip-arrow {
	border-color: transparent;
	border-style: solid;
	height: 0;
	position: absolute;
	width: 0;
}

.ui-tooltip-right {
	.ui-tooltip-arrow {
		border-right-color: @color6;
		border-width: 0.25em 0.25em 0.25em 0;
		left: 0;
		margin-top: -0.25em;
		top: 50%;
	}
}

.ui-tooltip-left {
	.ui-tooltip-arrow {
		border-left-color: @color6;
		border-width: 0.25em 0 0.25em 0.25em;
		margin-top: -0.25em;
		right: 0;
		top: 50%;
	}
}

.ui-tooltip-top {
	.ui-tooltip-arrow {
		border-top-color: @color6;
		border-width: 0.25em 0.25em 0;
		bottom: 0;
		left: 50%;
		margin-left: -0.25em;
	}
}

.ui-tooltip-bottom {
	.ui-tooltip-arrow {
		border-bottom-color: @color6;
		border-width: 0 0.25em 0.25em;
		left: 50%;
		margin-left: -0.25em;
		top: 0;
	}
}

p-fileupload {
	position: relative;
	

	* {
		cursor: pointer;
	}

	.ui-button.ui-button-text-icon-left .ui-button-text {
		padding-left: .8em;
	}

	.ui-fileupload-choose input[type=file] {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		margin: 0;
		opacity: 0;
	}
}

.ui-fluid {

	.ui-inputtext,
	.ui-calendar,
	.ui-dropdown,
	.ui-inputnumber {
		width: @width9;
	}

	.ui-calendar.ui-calendar-w-btn {
		.ui-inputtext {
			width: @width0;
		}
	}

	.ui-autocomplete.ui-autocomplete-dd {
		.ui-inputtext {
			width: @width0;
		}
	}
}