<div class="container" [ngClass]="{'menu-layout-open': toggleArrowMenu}">
  <div class="topbar">
    <div class="topbar-left">
      <app-header></app-header>
    </div>
    <div class="topbar-right">
      <div style="float: right">
        <span class="p-overlay-badge">
          <i class="pi pi-bell" style="font-size: 2em; margin-right: 5px;"></i>
          <span class="p-badge">2</span>
        </span>
        <a style="color: #fff; margin-left: 30px; vertical-align: top" (click)="appService.logout()">{{Locales.logout}}</a>
      </div>
    </div>
  </div>
  <div class="wrap">
    <div class="left-menu">
      <ft-menu link="admin"></ft-menu>
    </div>
    <div class="main">
      <div class="breadcrumb">
        <span *ngFor="let label of [Locales.admin, Locales.users]">{{label}}</span>
      </div>
      <ft-table sortField="last" filter="admin-table" [columns]="cols" [result]="result" (onNotify)="eventTableHandler($event)">
        <ng-template pTemplate="firstHeader"></ng-template>
        <ng-template pTemplate="firstColumn" let-rowData="$implicit" *ngIf="AppUtils.isEditorAccess()">
          <fa-icon [icon]="icons.faPencil" (click)="onEdit(rowData)" style="cursor: pointer"></fa-icon>
        </ng-template>
      </ft-table>
      <ft-dialog width="70" height="60" [path]="[Locales.admin, Locales.users, selectedUser?.first + ' ' + selectedUser?.last]">
        <ng-template pTemplate="{{Locales.accounts}}" let-user="item">
          <account-tab [user]="user" ></account-tab>
        </ng-template>
        <ng-template pTemplate="{{Locales.contacts}}" let-user="item">
          <contact-tab [user]="user"></contact-tab>
        </ng-template>
        <ng-template pTemplate="{{Locales.certificates}}" let-user="item">
          <certificate-tab [user]="user"></certificate-tab>
        </ng-template>
        <ng-template pTemplate="{{Locales.addresses}}" let-user="item">
          <address-tab [user]="user"></address-tab>
        </ng-template>
        <ng-template pTemplate="Courses/Endorsements" let-user="item">
          <course-tab [user]="user"></course-tab>
        </ng-template>
        <ng-template pTemplate="{{Locales.documents}}" let-user="item">
          <document-tab [user]="user"></document-tab>
        </ng-template>
      </ft-dialog>
    </div>
  </div>
  <app-footer></app-footer>
  <p-confirmDialog key="deleteRecord" appendTo="body" icon="pi pi-exclamation-triangle"></p-confirmDialog>
</div>