<div class="container" [ngClass]="{'menu-layout-open': toggleArroMenu}">
  <div class="topbar">
    <div class="topbar-left">
      <h3>{{environment.company}}</h3>
      <h4>{{environment.phone}}</h4>
      <div class="arrow-menu" (click)="toggleArroMenu = !toggleArroMenu;">
        <i class="pi pi-chevron-circle-right"></i>
      </div>
    </div>
    <div class="topbar-right">
      <div style="float: right">
        <span class="p-overlay-badge">
          <i class="pi pi-bell" style="font-size: 2em; margin-right: 5px;"></i>
          <span class="p-badge">2</span>
        </span>
        <a style="color: #fff; margin-left: 30px; vertical-align: top" (click)="appService.logout()">{{Locales.logout}}</a>
      </div>
    </div>
  </div>
  <div class="wrap">
    <div class="left-menu">
      <ul class="nav-menu">
        <li routerLink="../dashboard">
          <i class="pi pi-home"></i>{{Locales.dashboard}}
        </li>
        <li routerLink="schedule">
          <i class="pi pi-calendar"></i>{{Locales.schedule}}
        </li>
        <li routerLink="instructors">
          <fa-icon [icon]="faInstructor"></fa-icon>{{Locales.instructors}}
        </li>
        <li routerLink="students">
          <i class="pi pi-users"></i>{{Locales.students}}
        </li>
        <li routerLink="aircraft">
          <fa-icon [icon]="faPlane" class="rotate-90"></fa-icon>{{Locales.aircraft}}
        </li>
        <li routerLink="billing">
          <i class="pi pi-money-bill"></i>{{Locales.billing}}
        </li>
        <li routerLink="reports">
          <i class="pi pi-chart-line"></i>{{Locales.reports}}
        </li>
      </ul>
    </div>
    <div class="main">
      <ft-table sortField="last" [columns]="cols" [data]="users" [noData]="Locales.noData"
        (onNotify)="eventTableHandler($event)" [expandFormTemplate]="tableExpandForm"></ft-table>
    </div>
  </div>
  <app-footer></app-footer>
</div>