<div class="container" [ngClass]="{'menu-layout-open': toggleArrowMenu}">
    <admin-topbar></admin-topbar>
    <div class="wrap">
        <div class="left-menu">
            <ft-leftnav></ft-leftnav>
        </div>
        <div class="main">
            <div class="breadcrumb">
                <span *ngFor="let label of [Locales.admin, Locales.courses]">{{label}}</span>
            </div>
            <ft-table sortField="last" filter="course-table" [columns]="cols" [result]="result" (onNotify)="eventTableHandler($event)">
                <ng-template pTemplate="firstHeader">
                    <button pButton icon="pi pi-plus-circle" class="circle" (click)="onAddRate()"></button>
                </ng-template>
                <ng-template pTemplate="firstColumn" let-rowData *ngIf="AppUtils.isEditorAccess()">
                    <fa-icon [icon]="icons.faPencil" (click)="onEdit(rowData)" style="cursor: pointer"></fa-icon>
                </ng-template>
            </ft-table>
            <ft-dialog width="70" height="60">
                <ng-template pTemplate="{{Locales.course}}" let-course>
                    <course-tab [course]="course"></course-tab>
                </ng-template>
                <ng-template pTemplate="{{Locales.participants}}" let-course>
                    <course-tab [course]="course"></course-tab>
                </ng-template>
            </ft-dialog>
        </div>
    </div>
    <app-footer></app-footer>
</div>