<div class="container" [ngClass]="{'menu-layout-open': toggleArrowMenu}">
    <admin-topbar></admin-topbar>
    <div class="wrap">
        <div class="left-menu">
            <ft-leftnav></ft-leftnav>
        </div>
        <div class="main">
            <div class="breadcrumb">
                <span *ngFor="let label of [Locales.admin, Locales.tierRates]">{{label}}</span>
            </div>
            <ft-table filter="billing" [columns]="cols">
            </ft-table>
        </div>
        <div class="layout-mask"></div>
    </div>
    <app-footer></app-footer>
</div>