<div class="container" [ngClass]="{'menu-layout-open': toggleArrowMenu}">
  <admin-topbar></admin-topbar>
  <div class="wrap">
    <div class="left-menu">
      <ft-leftnav></ft-leftnav>
    </div>
    <div class="main">
      <div class="breadcrumb">
        <span *ngFor="let label of [Locales.admin, Locales.users]">{{label}}</span>
      </div>
      <ft-table sortField="last" filter="admin-table" [columns]="cols" [result]="result" (onNotify)="eventTableHandler($event)">
        <ng-template pTemplate="firstHeader">
          <button pButton icon="pi pi-plus-circle" class="circle" (click)="onAddUser()"></button>
        </ng-template>
        <ng-template pTemplate="firstColumn" let-rowData *ngIf="AppUtils.isEditorAccess()">
          <fa-icon [icon]="icons.faPencil" (click)="onEdit(rowData)" style="cursor: pointer"></fa-icon>
        </ng-template>
        <ng-template pTemplate="expandForm" let-rowData>
          <div *ngIf="!rowData.accounts " style="text-align: center;">
            <p>{{ Locales.pleaseWait }}</p>
          </div>
          <div *ngIf="rowData.accounts?.length == 0" style="text-align: center;">
            <p-button [label]="Locales.addAccount" (click)="onAddAccount(rowData)"></p-button>
          </div>
          <div *ngIf="rowData.accounts?.length"><b style="padding-left: 5px; color: #1c8445">{{Locales.accounts}}</b>
            <p-table [value]="rowData.accounts">
              <ng-template pTemplate="header">
                <tr>
                  <th *ngFor="let c of accCols" [style.width.px]="c.width">{{c.header}}</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowData>
                <tr>
                  <td *ngFor="let col of accCols" [style.text-align]="col.align" [title]="formatColData(col, rowData, true)" [innerHTML]="formatColData(col, rowData, false)"></td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </ng-template>
      </ft-table>
      <ft-dialog width="70" height="60">
        <ng-template pTemplate="{{Locales.user}}" let-user>
          <user-tab [user]="user"></user-tab>
        </ng-template>
        <ng-template pTemplate="{{Locales.accounts}}" let-user>
          <account-tab [user]="user"></account-tab>
        </ng-template>
        <ng-template pTemplate="{{Locales.contacts}}" let-user>
          <contact-tab [user]="user"></contact-tab>
        </ng-template>
        <ng-template pTemplate="{{Locales.certificates}}" let-user>
          <certificate-tab [user]="user"></certificate-tab>
        </ng-template>
        <ng-template pTemplate="{{Locales.endorsements}}" let-user>
          <endorsement-tab [user]="user"></endorsement-tab>
        </ng-template>
        <ng-template pTemplate="{{Locales.activities}}" let-user>
          <activity-tab [user]="user"></activity-tab>
        </ng-template>
        <ng-template pTemplate="{{Locales.addresses}}" let-user>
          <address-tab [user]="user"></address-tab>
        </ng-template>
        <ng-template pTemplate="{{Locales.documents}}" let-user>
          <document-tab [user]="user"></document-tab>
        </ng-template>
      </ft-dialog>
    </div>
  </div>
  <app-footer></app-footer>
  <p-confirmDialog key="confDialog" appendTo="body"></p-confirmDialog>
</div>