<form [formGroup]="frmGroup" class="p-form td-controls">
  <div class="ui-fluid p-grid">
    <div class="p-md-3">
      <label for="username">{{getLabel('username')}}:</label>
      <input class="ui-inputtext" formControlName="username" />
    </div>
    <div class="p-md-3">
      <label for="first">{{getLabel('first')}}:</label>
      <input class="ui-inputtext" formControlName="first" />
    </div>
    <div class="p-md-3">
      <label for="middle">{{getLabel('middle')}}:</label>
      <input class="ui-inputtext" formControlName="middle" />
    </div>
    <div class="p-md-3">
      <label for="last">{{getLabel('last')}}:</label>
      <input class="ui-inputtext" formControlName="last" />
    </div>
    <div class="p-md-3">
      <label for="email">{{getLabel('email')}}:</label>
      <input class="ui-inputtext" formControlName="email" />
    </div>
    <div class="p-md-3">
      <label for="phone">{{getLabel('phone')}}:</label>
      <input class="ui-inputtext" formControlName="phone" />
    </div>
    <div class="p-md-3">
      <label for="role">{{getLabel('role')}}:</label>
      <input class="ui-inputtext" [value]="frmGroup.get('role').value" readonly *ngIf="data.id == session.id"/>
      <p-dropdown [options]="Roles" formControlName="role" *ngIf="data.id != session.id"></p-dropdown>
    </div>
    <div class="p-md-3">
      <label for="ftn">{{getLabel('ftn')}}:</label>
      <input class="ui-inputtext" formControlName="ftn" />
    </div>
    <div class="p-md-3">
      <label for="birthday">{{getLabel('birthday')}}:</label>
      <p-calendar [monthNavigator]="true" [yearNavigator]="true" [yearRange]="yearRange" [showIcon]="true" showButtonBar="true" appendTo="body" formControlName="birthday"></p-calendar>
    </div>
    <div class="p-md-3">
      <label for="dl">{{getLabel('dl')}}:</label>
      <input class="ui-inputtext" formControlName="dl" />
    </div>
    <div class="p-md-3">
      <label for="dlState">{{getLabel('dlState')}}:</label>
      <input class="ui-inputtext" formControlName="dlState" />
    </div>
    <div class="p-md-3">
      <label for="dlExpDate">{{getLabel('dlExpDate')}}:</label>
      <p-calendar [monthNavigator]="true" [yearNavigator]="true" [yearRange]="yearRange" [showIcon]="true" showButtonBar="true" appendTo="body" formControlName="dlExpDate"></p-calendar>
    </div>
    <div class="p-md-3">
      <label for="createdDate">{{getLabel('createdDate')}}:</label>
      <input class="ui-inputtext" formControlName="createdDate" readonly/>
    </div>
    <div class="p-md-3">
      <label for="whoCreated">{{getLabel('whoCreated')}}:</label>
      <input class="ui-inputtext" formControlName="whoCreated" readonly/>
    </div>
    <div class="p-md-3">
      <label for="modifiedDate">{{getLabel('modifiedDate')}}:</label>
      <input class="ui-inputtext" formControlName="modifiedDate" readonly/>
    </div>
    <div class="p-md-3">
      <label for="whoModified">{{getLabel('whoModified')}}:</label>
      <input class="ui-inputtext" formControlName="whoModified" readonly/>
    </div>
    <div class="p-md-12">
      <div class="p-md-2">
        <p-checkbox [label]="getLabel('isMemeber')" [title]="getLabel('isMemeber')" binary="true" formControlName="isMemeber"></p-checkbox>
      </div>
      <div class="p-md-2">
        <p-checkbox [label]="getLabel('resetPassword')" [title]="getLabel('resetPassword')"  binary="true" formControlName="resetPassword"></p-checkbox>
      </div>
      <div class="p-md-2">
        <p-checkbox [label]="getLabel('englishProficient')" [title]="Locales.englishProficientTitle" binary="true" formControlName="englishProficient"></p-checkbox>
      </div>
    </div>
    <div class="p-md-12">
      <div class="p-md-2">
        <p-checkbox [label]="getLabel('isCitizen')" [title]="getLabel('isCitizen')" binary="true" formControlName="isCitizen"></p-checkbox>
      </div>
      <div class="p-md-2">
        <p-checkbox [label]="getLabel('isSchoolEmployee')" [title]="getLabel('isSchoolEmployee')"  binary="true" formControlName="isSchoolEmployee"></p-checkbox>
      </div>
      <div class="p-md-2">
        <p-checkbox [label]="getLabel('isActive')" [title]="getLabel('isActive')" binary="true" formControlName="isActive" *ngIf="data.id != session.id"></p-checkbox>
      </div>
    </div>
  </div>
  <div>
    <div class="right">
      <p-button label="{{Locales.apply}}" *ngIf="AppUtils.isEditorAccess()" (click)="applyItem($event)"></p-button>
      <p-button label="{{Locales.delete}}" (click)="doDelete()" *ngIf="AppUtils.isEditorAccess() && isNew(data)==false"></p-button>
      <p-button label="{{Locales.cancel}}" (click)="doCancel()"></p-button>
    </div>
  </div>
</form>