<div class="container">
    <div class="topbar">
        <div class="topbar-left">
            <app-header [showArrow]="false"></app-header>
        </div>
    </div>
    <div class="wrap">
        <div style="float: right; margin: 10px; font-family: Monospace;">
            <div>{{currentDateTime | date:"MM/dd/yy":"+0000"}}, <b><u>{{currentDateTime | date:"HH:mm":"+0000"}}</u> UTC</b></div>
            <div>{{currentDateTime | date:"MM/dd/yy"}}, <b><u>{{currentDateTime | date:"HH:mm"}}</u> {{ worldtime.abbreviation }}</b></div>
        </div>
        <div class="main" [ngSwitch]="path">
            <form method="POST" class="dialog" #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" ngNativeValidate>
                <h5 style="color: red; margin: 0 0 8px;">{{error}}&nbsp;</h5>
                <ng-template [ngSwitchCase]="'/login'">
                    <div class="ui-fluid" [style.display]="resetPassword ? 'none' : 'block'">
                        <div class="row">
                            <label class="p-col-fixed">{{Locales.userId}}</label>
                            <input class="ui-inputtext" name="username" required ngModel autocomplete="off">
                        </div>
                        <div class="row">
                            <label class="p-col-fixed">{{Locales.password}}</label>
                            <input type="password" class="ui-inputtext" name="passwd" required ngModel autocomplete="off">
                        </div>
                        <a routerLink="../forgot" *ngIf="environment.includeForgotPassword">{{Locales.forgotPassword}}</a>
                        <a routerLink="../create" *ngIf="environment.includeCreateAccount">  |  {{Locales.createAccount}}</a>
                    </div>
                    <ng-template *ngIf="resetPassword" [ngTemplateOutlet]="ResetPassword"></ng-template>
                    <button class="ui-button" style="float: right" type="submit">{{Locales.login}}</button>
                    <div style="margin-top: 40px; text-align: center;">{{Locales.aggrement}}</div>
                </ng-template>
                <ng-template [ngSwitchCase]="'/forgot'">
                    <div class="ui-fluid">
                        <div style="margin: 10px 0;">{{Locales.enterEmail}}</div>
                        <div class="row">
                            <label class="p-col-fixed">{{Locales.userId}}</label>
                            <input class="ui-inputtext" name="username" required ngModel autocomplete="off">
                        </div>
                        <div class="row">
                            <label class="p-col-fixed">{{Locales.email}}</label>
                            <input type="email" class="ui-inputtext" name="email" required ngModel autocomplete="off">
                        </div>
                    </div>
                    <ng-template [ngTemplateOutlet]="SubmitButton"></ng-template>
                </ng-template>
                <ng-template [ngSwitchCase]="'/reset'">
                    <ng-template [ngTemplateOutlet]="ResetPassword"></ng-template>
                    <ng-template [ngTemplateOutlet]="SubmitButton"></ng-template>
                </ng-template>
                <ng-template [ngSwitchCase]="'/activate'">
                    <p>{{message}}</p>
                    <div style="float: right">
                        <a href="/login">
                            <button type="button" class="ui-button">{{Locales.returnToLogin}}</button>
                        </a>
                    </div>
                </ng-template>
                <ng-template [ngSwitchCase]="'/create'">
                    <div class="ui-fluid">
                        <div class="row">
                            <label class="p-col-fixed">{{Locales.userId}}*</label>
                            <input class="ui-inputtext" name="username" required ngModel autocomplete="off">
                        </div>
                        <div class="row">
                            <label class="p-col-fixed">{{Locales.password}}*</label>
                            <input type="password" class="ui-inputtext" name="passwd" required ngModel autocomplete="off">
                        </div>
                        <div class="row">
                            <label class="p-col-fixed">{{Locales.confirmPassword}}*</label>
                            <input type="password" class="ui-inputtext" name="conf_passwd" required ngModel autocomplete="off">
                        </div>
                        <div class="row">
                            <label class="p-col-fixed">{{Locales.email}}*</label>
                            <input type="email" class="ui-inputtext" name="email" required ngModel autocomplete="off">
                        </div>
                        <div class="row">
                            <label class="p-col-fixed">{{Locales.firstName}}*</label>
                            <input class="ui-inputtext" name="first" required ngModel autocomplete="off">
                        </div>
                        <div class="row">
                            <label class="p-col-fixed">{{Locales.middleName}}</label>
                            <input class="ui-inputtext" name="middle" ngModel autocomplete="off">
                        </div>
                        <div class="row">
                            <label class="p-col-fixed">{{Locales.lastName}}*</label>
                            <input class="ui-inputtext" name="last" required ngModel autocomplete="off">
                        </div>
                        <div class="row">
                            <label class="p-col-fixed">{{Locales.phone}}</label>
                            <input class="ui-inputtext" name="phone" ngModel autocomplete="off">
                        </div>
                    </div>
                    <ng-template [ngTemplateOutlet]="SubmitButton"></ng-template>
                </ng-template>

                <!-- Reusable templates -->
                <ng-template #ResetPassword>
                    <div class="ui-fluid">
                        <p>{{Locales.chooseNewPassword}}</p>
                        <div class="row">
                            <label class="p-col-fixed">{{Locales.password}}*</label>
                            <input type="password" class="ui-inputtext" name="new_passwd" required ngModel autocomplete="off">
                        </div>
                        <div class="row">
                            <label class="p-col-fixed">{{Locales.confirmPassword}}*</label>
                            <input type="password" class="ui-inputtext" name="conf_passwd" required ngModel autocomplete="off">
                        </div>
                    </div>
                </ng-template>
                <ng-template #SubmitButton>
                    <div style="float: right">
                        <a routerLink="../login" style="margin-right: 20px">{{Locales.cancel}}</a>
                        <button class="ui-button" type="submit">{{Locales.submit}}</button>
                    </div>
                </ng-template>
            </form>
        </div>
        <ul class="metars" *ngIf="path=='/login'">
            <li *ngFor="let key of metarAirports">
                <a href="https://www.aviationweather.gov/metar/data?ids={{key}}&format=decoded&date=&hours=0&taf=on" target="_block" [title]="metars[key]?.raw || key">
                    <div>
                        <b [class]="metars[key]?.ctg">{{key}}</b>
                        <span style="float: right" *ngIf="metars[key]">{{metars[key].date | date:"MM/dd/yy"}}, <b><u>{{metars[key].date | date:"HH:mm"}}</u></b>{{ worldtime.abbreviation }}</span>
                    </div>
                    <div class="raw" [innerHTML]="metars[key]?.raw | formatRaw"></div>
                </a>
            </li>
        </ul>
    </div>
    <app-footer></app-footer>
</div>