<form [formGroup]="formGroup" #myForm="ngForm" class="p-grid">
    <div class="ui-fluid p-md-7">
        <div *ngFor="let control of controls" [class]="control.class">
            <admin-field [parentGroup]="formGroup" [c]="control"></admin-field>
        </div>
        <div class="row" formGroupName="notes">
            <label>{{Locales.notes}}</label>
            <textarea formControlName="content" pInputTextarea [rows]="4"></textarea>
        </div>
        <p class="row">
            <p-inputSwitch (onChange)="defineAddress($event.checked, formGroup.controls)" [(ngModel)]="isAddress" [ngModelOptions]="{standalone: true}"></p-inputSwitch><span class="defineAddress">{{Locales.defineAddress}}</span>
        </p>
        <div class="row" *ngIf="isAddress">
            <div *ngFor="let control of addressControls" [class]="control.class">
                <admin-field [parentGroup]="formGroup.controls.address" [c]="control" [templates]="{ pobox: pobox }"></admin-field>
            </div>
        </div>
    </div>
    <div class="ui-fluid p-md-5">
        <p-table [value]="result?.data" [lazy]="true" (onLazyLoad)="lazyLoad($event)" [(selection)]="selectedBean">
            <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                <col/>
                <col [style.width.rem]="6" />
                <col [style.width.rem]="3" />
                </colgroup>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>{{Locales.lastname}}, {{Locales.firstname}}</th>
                    <th>{{Locales.relationship}}</th>
                    <th align="center"><i class="pi pi-check"></i></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-contact>
                <tr>
                    <td class="ellipsis" title="{{contact.last}}, {{contact.first}}">{{contact.last}}, {{contact.first}}</td>
                    <td>{{contact.relationship}}</td>
                    <td>
                        <p-tableRadioButton [value]="contact"></p-tableRadioButton>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
                <tr>
                    <td [attr.colspan]="3" style="text-align: center;">{{Locales.noData}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</form>
<div class="row footer left">
    <button *ngIf="result?.data.length > 0" class="ui-button ui-button-secondary " style="margin-right: 15px" (click)="onReset()">{{Locales.new}}</button>
    <button *ngIf="result?.data.length > 0" class="ui-button " (click)="onDelete()" [disabled]="!selectedBean">{{Locales.delete}}</button>
    <div class="right">
        <button pButton (click)="onSubmit()" [label]="Locales.save" [disabled]="!myForm.form.valid"></button>
    </div>
</div>
<ng-template #pobox let-group="group">
    <div class="noshadow" *ngIf="group.controls.type.value != 'Home'" [formGroup]="group">
        <label>{{Locales.pobox}}</label>
        <input formControlName="pobox" pInputText/>
    </div>
</ng-template>