<form [formGroup]="formGroup" #myForm="ngForm" class="p-grid document">
    <div class="ui-fluid p-md-7" style="padding-top: 0">
        <div *ngFor="let control of controls" [class]="control.class">
            <admin-field [parentGroup]="formGroup" [c]="control" [templates]="{ path: filePath, url: url }"></admin-field>
        </div>
        <div class="row gap-row">
            <p-checkbox [label]="Locales.isFrontSide" binary="true" formControlName="isFrontSide"></p-checkbox>
            <p-checkbox [label]="Locales.isSuspended" binary="true" formControlName="isSuspended"></p-checkbox>
            <p-checkbox [label]="Locales.isWithdrawn" binary="true" formControlName="isWithdrawn"></p-checkbox>
        </div>
        <admin-prewview [user]="user" [formGroup]="formGroup" [selectedBean]="selectedBean"></admin-prewview>
    </div>
    <div class="ui-fluid p-md-5">
        <div class="row">
            <p-table [value]="result?.data" [lazy]="true" (onLazyLoad)="lazyLoad($event)" [(selection)]="selectedBean"
                [paginator]="true" [rows]="25" [totalRecords]="result?.total" [scrollable]="true">
                <ng-template pTemplate="colgroup" let-columns>
                    <colgroup>
                    <col [style.width.rem]="6" />
                    <col />
                    <col [style.width.rem]="3" />
                    </colgroup>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>{{Locales.page_num_total}}</th>
                        <th>{{Locales.type}} / {{Locales.fileName}}</th>
                        <th align="center"><i class="pi pi-check"></i></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-doc>
                    <tr>
                        <td style="cursor: pointer" (click)="onToggle(doc)" aria-hidden="true">
                            <span class="pi {{doc.expanded ? 'pi-chevron-down' : 'pi-chevron-right'}}" [style.visibility]="doc.total > 1 ? 'visible' : 'hidden'"></span>
                            {{doc.pageNumber}}<span *ngIf="!doc.parentId"> / {{doc.total}}</span>
                        </td>
                        <td *ngIf="!doc.parent"><b>{{getType(doc.type)}}</b><br>{{doc.fileName}}</td>
                        <td>
                            <p-tableRadioButton [value]="doc"></p-tableRadioButton>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage" let-columns>
                    <tr>
                        <td [attr.colspan]="4" style="text-align: center;">{{Locales.noData}}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="paginatorright">
                    <div style="margin-right: 10px; margin-top: 5px">
                    {{Locales.total}}: {{result?.total}}
                    </div>
                </ng-template>
            </p-table>
        </div>
        <div class="row">
            <admin-prewview [user]="user" [formGroup]="formGroup" [selectedBean]="{document: selectedBean}" hideDelete="true"></admin-prewview>
        </div>
    </div>
</form>
<div class="row footer left">
    <p-fileUpload mode="basic" [auto]="true" url="/file/{{user.id}}" name="file" (onBeforeUpload)="loading(true)" (onError)="onNewUploadDocument($event, true)" (onUpload)="onNewUploadDocument($event, false)" [chooseLabel]="Locales.uploadNewDocument"></p-fileUpload>
    <div class="right">
        <p-fileUpload [disabled]="!selectedBean || selectedBean.parentId" mode="basic" [auto]="true" url="/file/{{user.id}}" name="file" (onBeforeUpload)="loading(true)" (onError)="onNextPageUpload($event, true)" (onUpload)="onNextPageUpload($event, false)" [chooseLabel]="Locales.uploadNextPage"></p-fileUpload>
        <button pButton (click)="onDelete()" [label]="Locales.delete" [disabled]="!selectedBean"></button>
        <button pButton (click)="onSubmit()" [label]="Locales.save" [disabled]="!selectedBean || !myForm.form.valid"></button>
    </div>
</div>
<ng-template #filePath let-c="control" let-group="formGroup">
    <div *ngIf="formGroup.controls.filePath.value" [formGroup]="group">
        <label>{{Locales.path}}</label>
        <input formControlName="filePath" pInputText [attr.disabled]="true"/>
    </div>
</ng-template>
<ng-template #url let-c="control" let-group="formGroup">
    <div *ngIf="formGroup.controls.type.value == 'OnlineDocument'" [formGroup]="group">
        <label>{{Locales.url}}</label>
        <input formControlName="url" pInputText placeholder="http://www.company.com"/>
    </div>
</ng-template>