<div class="container" [ngClass]="{'menu-layout-open': !toggleArroMenu}">
  <div class="topbar">
    <div class="topbar-left">
      <h3>{{company}}</h3>
      <h4>{{phone}}</h4>
      <div class="arrow-menu" (click)="toggleArroMenu = !toggleArroMenu;">
        <i class="pi pi-chevron-circle-right"></i>
      </div>
    </div>
    <div class="topbar-right">RIGHT</div>
  </div>
  <div class="wrap">
    <div class="left-menu">
      <div class="profile">
        {{loggedUser.lastname}}, {{loggedUser.firstname}} ({{loggedUser.id}})
        <br><b>{{Locales.accountBalance}}:</b><span style="padding-left: 10px;">{{loggedUser.currentAccount.balance | currency}}</span>
        <br><a style="float: right" (click)="appService.logout()">{{Locales.logout}}</a>
      </div>
    </div>
    <div class="main">
      <p-table [value]="users">
        <ng-template pTemplate="header">
          <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Role</th>
            <th>Is Active</th>
            <th>Reset Password</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
          <tr>
            <td>{{user.id}}</td>
            <td>{{user.username}}</td>
            <td>{{user.firstname}}</td>
            <td>{{user.lastname}}</td>
            <td>{{user.email}}</td>
            <td>{{user.phonenumber}}</td>
            <td>{{user.role}}</td>
            <td>{{user.isActive}}</td>
            <td>{{user.resetPassword}}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="footer" let-columns="columns">
          <tr>
            <td *ngFor="let col of columns">
              {{col.header}}
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div class="layout-mask"></div>
    <app-overlay></app-overlay>
  </div>
  <app-footer></app-footer>
</div>