<div class="container" [ngClass]="{'menu-layout-open': !toggleArroMenu}">
  <div class="topbar">
    <div class="topbar-left">
      <h3>{{company}}</h3>
      <h4>{{phone}}</h4>
      <div class="arrow-menu" (click)="toggleArroMenu = !toggleArroMenu;">
        <i class="pi pi-chevron-circle-right"></i>
      </div>
    </div>
    <div class="topbar-right">RIGHT</div>
  </div>
  <div class="wrap">
    <div class="left-menu">
      <div class="profile">
        {{user.lastname}}, {{user.firstname}} ({{user.id}})
        <br><b>{{Locales.accountBalance}}:</b><span style="padding-left: 10px;">{{user.balance}}</span>
      </div>
    </div>
    <div class="main">
      <p-table [value]="cars">
        <ng-template pTemplate="header">
          <tr>
            <th>Vin</th>
            <th>Year</th>
            <th>Brand</th>
            <th>Color</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-car>
          <tr>
            <td>{{car.vin}}</td>
            <td>{{car.year}}</td>
            <td>{{car.brand}}</td>
            <td>{{car.color}}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="footer" let-columns="columns">
          <tr>
            <td *ngFor="let col of columns">
              {{col.header}}
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div class="layout-mask"></div>
  </div>
  <div class="footer">FOOTER</div>
</div>