<div class="container" [ngClass]="{'menu-layout-open': !toggleArroMenu}">
  <div class="topbar">
    <div class="topbar-left">
      <h3>{{company}}</h3>
      <h4>{{phone}}</h4>
      <div class="arrow-menu" (click)="toggleArroMenu = !toggleArroMenu;">
        <i class="pi pi-chevron-circle-right"></i>
      </div>
    </div>
    <div class="topbar-right">RIGHT</div>
  </div>
  <div class="wrap">
    <div class="left-menu">
      <div class="profile">
        {{loggedUser.lastname}}, {{loggedUser.firstname}} ({{loggedUser.id}})
        <br><b>{{Locales.accountBalance}}:</b><span
          style="padding-left: 10px;">{{loggedUser.currentAccount.balance | currency}}</span>
        <br><a style="float: right" (click)="appService.logout()">{{Locales.logout}}</a>
      </div>
    </div>
    <div class="main">
      <p-table [columns]="cols" [value]="users" [resizableColumns]="true" [scrollable]="true" [expandedRowKeys]="expandedRows" dataKey="id">
        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col [style.width.px]="45"/>
            <col *ngFor="let col of cols" [style.width.px]="col.width"/>
          </colgroup>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th></th>
            <th *ngFor="let col of columns" pResizableColumn>
              {{col.header}}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns" let-expanded="expanded">
          <tr>
            <td>
              <a href="#" [pRowToggler]="rowData">
                <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
              </a>
            </td>
            <td *ngFor="let col of columns" class="ui-resizable-column" [title]="formatData(col, rowData)">
              {{formatData(col, rowData)}}
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
            <tr>
          <td [attr.colspan]="columns.length + 1">
            <form [formGroup]="frmGroup">
              <div class="form-row" *ngFor="let col of columns">
                <label [for]="col.field">{{col.header}}:</label>
                <input class="ui-inputtext" [formControlName]="col.field">
              </div>
            </form>
          </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage" let-columns>
            <tr>
              <td [attr.colspan]="10">
                {{Locales.tbl_Noitems}}
              </td>
            </tr>
          </ng-template>
      </p-table>
    </div>
    <div class="layout-mask"></div>
    <app-overlay></app-overlay>
  </div>
  <app-footer></app-footer>
</div>