@import '../../../assets/less/constants.less';
@import '../../../assets/less/layout.less';

.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;

    .close, .resize {
        background-color: #007ad9;
        color: #fff;
        width: 1.538em;
        height: 1.538em;
        line-height: 1.538em;
        text-align: center;
        position: absolute;
        top: 0;
        right: 0;
        border: 1px solid #fff;
        cursor: pointer;
    }

    .resize {
        right:1.538em;
    }

    &>div {
        text-align: left;
        position: relative;
        min-width: 200px;
        min-height: 300px;
        background: #fff;
        border: 1px solid #333;
        display: inline-block;
        margin-top: @modal-top;
    }
}

p-tabview {
    position: absolute;
    top: 30px;
    bottom: 20px;
    left: 10px;
    right: 10px;
}

.ui-tabview {
    height: calc(100% - 40px); /* Tab menu height */
}

.ui-tabview-scroll .ui-tabview-panels {
    overflow: auto;
}

.ui-tabview-fixed .ui-tabview-panels {
    position: relative;

    form {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 60px;
        overflow: auto;
        padding: 0.6em 1em, 0.1em;
        border-bottom: 1px dashed #c8c8c8;
    }

    .footer {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 0 1em;
    }
}