.nav-menu {
    padding: 15px 0;
    list-style: none;

    li {
        color: #58666e;
        padding: 4px;
        letter-spacing: 0.4px;
        cursor: pointer;
    }

    li:hover {
        background: #f5f7f9;
    }

    i, fa-icon {
        margin: 15px;
        display: inline-block;
    }

    li.selected {
        border-right: solid 6px #146fd7;
    }

    .rotate-90 {
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }
}