@import '../../assets/less/layout.less';

td, th {
    overflow: hidden;
    text-overflow: ellipsis;
}

th {
    white-space: nowrap;
    font-size: 12px;
    padding: 0.571em 0.2em !important;
}

[formcontrolname], .ui-inputtext {
    height: 33px;
    display: inline-block;
    width: 100%;
}

input[readonly] {
    background: #eee !important;
}

.p-form {
    margin: 5px 0;
    background: #d5edff;
    padding: 20px;
    border: 1px solid gray;
    overflow: hidden;
}

.p-grid>div {
    margin-bottom: .6em;
    padding: .5em;
}