@import '../../assets/less/layout.less';

.filter-wrap {
    height: 40px;
    margin-bottom: 4px;
    background: #eee;
    padding: 0 5px;
    display: flex;
    align-items: center;
    position: relative;
}

th {
    white-space: nowrap;
    font-size: 12px;
    padding: 0.571em 0.2em !important;
}

.td-controls .ui-calendar, .td-controls .ui-inputtext {
    height: 33px;
    display: inline-block;
    width: 100%;
}

.p-form {
    margin: 5px 0;
    background: #d5edff;
    padding: 20px;
    border: 1px solid gray;
    overflow: hidden;
}

.p-grid>div {
    margin-bottom: .6em;
    padding: .5em;
}