<div style="overflow: hidden; margin: 5px 0;">
  <div style="float: right">
    {{Locales.itemsPerPage}} 
    <p-dropdown [options]="itemsPerPageList" (onChange)="itemsPerPageChanged()" [style]="{'minWidth':'75px', 'width': '75px'}" append="body"></p-dropdown>
  </div>
</div>
<p-table [columns]="columns" [value]="data" [resizableColumns]="true" [scrollable]="true" [expandedRowKeys]="expandedRows"
  [dataKey]="dataKey" [lazy]="true" [paginator]="true" [rows]="itemsPerPage" (onLazyLoad)="lazyLoad($event)">
  <ng-template pTemplate="colgroup">
    <colgroup>
      <col [style.width.px]="45" />
      <col *ngFor="let col of columns" [style.width.px]="col.width" />
      <col *ngIf="moreDetails" [style.width.px]="50"/>
    </colgroup>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 3em; padding-left: 0; padding-right: 0; text-align: center;">
        <button pButton icon="pi pi-plus" style="font-size: 12px" (click)="onAddNewRow()"></button>
      </th>
      <th *ngFor="let col of columns" pResizableColumn pSortableColumn="{{col.field}}">
        {{col.header}}
        <p-sortIcon field="{{col.field}}"></p-sortIcon>
      </th>
      <th *ngIf="moreDetails"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-expanded="expanded">
    <tr>
      <td>
        <a href="#" [pRowToggler]="rowData">
          <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
        </a>
      </td>
      <td *ngFor="let col of columns" class="ui-resizable-column" [style.text-align]="col.align" [title]="formatData(col, rowData, true)" [innerHTML]="formatData(col, rowData, false)"></td>
      <td *ngIf="moreDetails" style="text-overflow: initial"><button pButton icon="pi pi-id-card" (click)="onMoreDetails(rowData)" [title]="Locales.moreDetails"></button></td>
    </tr>
  </ng-template>
  <ng-template pTemplate="rowexpansion" let-rowData>
    <tr>
      <td [attr.colspan]="columns.length + 1 + (moreDetails ? 1 : 0)">
        <div [ftTableFormProvider]="rowData" (onNotify)="formEventHandler($event);">
          <ng-container *ngComponentOutlet="expandFormTemplate"></ng-container>
        </div>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td [attr.colspan]="columns.length + 1 + (moreDetails ? 1 : 0)" [innerHTML]="noData"></td>
    </tr>
  </ng-template>
  <ng-template pTemplate="paginatorright">
      <div style="margin-right: 10px; margin-top: 5px">
        {{Locales.total}}: {{data?.length}}
      </div>
    </ng-template>
</p-table>