<div class="filter-wrap">
  <p-overlayPanel #op appendTo="body" [showCloseIcon]="true" [style]="{width: '600px'}" [dismissable]="false">
      <h3 style="display: inline;">{{Locales.filter}}</h3>
      <div class="right">
        <a (click)="clearFilter()">{{Locales.clearAll}}</a>
      </div>
      <ng-template pTemplate>
        <form [formGroup]="filterGroup" class="p-form ui-fluid">
          <p-table [value]="getColumns(1)" [rows]="8" [scrollable]="true" scrollHeight="300px">
            <ng-template pTemplate="header">
                <tr>
                    <th width="40">{{Locales.show}}</th>
                    <th width="200">{{Locales.columnName}}</th>
                    <th>{{Locales.query}}</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData>
                <tr>
                    <td width="40">
                      <p-checkbox binary="true" [formControlName]="rowData.field + '_show'"></p-checkbox>
                    </td>  
                    <td width="200">{{rowData.header}}</td>
                    <td style="padding: 0.5em;" class="td-controls">
                      <input *ngIf="rowData.type=='input'" class="ui-inputtext" [formControlName]="rowData.field" [escape]="false" [pTooltip]="Locales.sqlQuery"/>
                      <p-dropdown *ngIf="rowData.type=='popup'" appendTo="body" [options]="rowData.value" [formControlName]="rowData.field" [placeholder]="Locales.selectItem"></p-dropdown>
                      <p-checkbox *ngIf="rowData.type=='check'" binary="true" [formControlName]="rowData.field"></p-checkbox>
                      <p-calendar *ngIf="rowData.type=='cal'" placeholder="mm/dd/yyyy ( - mm/dd/yyyy)" [monthNavigator]="true" [yearNavigator]="true" [yearRange]="yearRange" showButtonBar="true" showIcon="true" selectionMode="range" appendTo="body" [formControlName]="rowData.field"></p-calendar>
                    </td>
                </tr>
            </ng-template>
          </p-table>
          <span style="padding-top: 10px; display: inline-block;">
            <p-checkbox [label]="Locales.save" binary="true" formControlName="_saveFilter"></p-checkbox>
          </span>
          <div class="right" style="margin: 10px 0;">
            <p-button label="{{Locales.apply}}" (click)="applyFilter(); op.onCloseClick($event)"></p-button>
            <p-button label="{{Locales.cancel}}" (click)="resetFilter(); op.onCloseClick($event)"></p-button>
          </div>
        </form>
      </ng-template>
  </p-overlayPanel>
  <button pButton icon="pi pi-filter" style="font-size: 12px; border-radius: 50%;" (click)="resetFilter(); op.toggle($event)"></button>
  <div class="chips" #chips><span *ngFor="let col of getColumns(2)">{{col.header}}: {{getChips(col)}}<a (click)="removeChip(col)"></a></span></div>
  <div style="white-space: nowrap">
    {{Locales.itemsPerPage}}
    <p-dropdown [options]="itemsPerPageList" (onChange)="itemsPerPageChanged($event)" [(ngModel)]="filterModel.total"
      [style]="{'minWidth':'80px', 'width': '80px'}"></p-dropdown>
  </div>
</div>
<p-table [columns]="getColumns(0)" [value]="data" [resizableColumns]="true" [scrollable]="true" [rowHover]="true"
  [expandedRowKeys]="expandedRows" [dataKey]="dataKey" [lazy]="true" [paginator]="true" [rows]="filterModel.total"
  (onLazyLoad)="lazyLoad($event)" (onColResize)="colResize()">
  <ng-template pTemplate="colgroup" let-columns>
    <colgroup>
      <col *ngIf="firstHeaderTemplate" [style.width.px]="45" />
      <col *ngFor="let col of columns" [style.width.px]="filters[col.field + '_width'] || col.width"/>
      <col *ngIf="lastHeaderTemplate" [style.width.px]="50" />
    </colgroup>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngIf="firstHeaderTemplate" style="text-align: center">
        <ng-container *ngTemplateOutlet="firstHeaderTemplate"></ng-container>
      </th>
      <th *ngFor="let col of columns" pResizableColumn pSortableColumn="{{col.field}}" [title]="col.header" class="ellipsis"  [id]="col.field">
        {{col.header}}
        <p-sortIcon field="{{col.field}}"></p-sortIcon>
      </th>
      <th *ngIf="lastHeaderTemplate" style="text-align: center">
        <ng-container *ngTemplateOutlet="lastHeaderTemplate"></ng-container>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns" let-expanded="expanded">
    <tr>
      <td *ngIf="firstColumnTemplate" style="text-align: center">
        <ng-container *ngTemplateOutlet="firstColumnTemplate; context: {$implicit: rowData}"></ng-container>
      </td>
      <td *ngIf="!firstColumnTemplate && firstHeaderTemplate" style="text-align: center">
        <a href="#" [pRowToggler]="rowData" *ngIf="expandFormTemplate">
          <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
        </a>
      </td>
      <td *ngFor="let col of columns" class="ui-resizable-column ellipsis" [style.text-align]="col.align" [title]="formatData(col, rowData, true)" [innerHTML]="formatData(col, rowData, false)"></td>
      <td *ngIf="lastColumnTemplate" style="text-overflow: initial; text-align: center">
        <ng-container *ngTemplateOutlet="lastColumnTemplate; context: {$implicit: rowData}"></ng-container>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
    <tr>
      <td [attr.colspan]="columns.length + (firstHeaderTemplate ? 1 : 0) + (lastColumnTemplate ? 1 : 0)" [title]="columns.length">
        <div [ftTableFormProvider]="rowData" [table]="this">
          <ng-container *ngComponentOutlet="expandFormTemplate"></ng-container>
        </div>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage" let-columns>
    <tr>
      <td [attr.colspan]="columns.length + (firstHeaderTemplate ? 1 : 0) + (lastHeaderTemplate ? 1 : 0)" style="text-align: center;">{{Locales.noData}}</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="paginatorright">
    <div style="margin-right: 10px; margin-top: 5px">
      {{Locales.total}}: {{data?.length}}
    </div>
  </ng-template>
</p-table>