@import '../../../assets/less/layout.less';

.filter-wrap {
    min-height: 40px;
    margin-bottom: 4px;
    background: #eaeaea;
    padding: 0 13px;
    display: flex;
    align-items: center;
    position: relative;
}

th {
    white-space: nowrap;
    font-size: 12px;
    padding: 0.571em 0.2em !important;
}

.td-controls .ui-calendar, .td-controls .ui-inputtext {
    height: 33px;
    width: 100%;
}

.p-form {
    margin: 5px 0;
    background: #d5edff;
    padding: 20px;
    border: 1px solid gray;
    overflow: hidden;
}

.p-grid>div {
    margin-bottom: .6em;
    padding: .5em;
    position: relative;
}

.filter-radio i:before {
    margin: 2px 20px 0 7px;
    vertical-align: middle;
    display: inline-block;
}

.ui-fluid .filter-button {
    .ui-button {
        width: auto;
    }
    &>span {
        font-size: 12px;
        padding: 0.3em 1em !important;
    }
}

.circle {
    border-radius: 50%;
    font-size: 1.1rem;
    min-width: 2rem;
    width: 2rem;
    height: 2rem;
    padding: 0
}

.chips {
    padding: 0 5px;
    width: 100%;

    span {
        color: #fff;
        background: #007ad9;
        border-radius: 3px;
        display: inline-block;
        margin: 3px;
        padding: 3px;
    }

    a:after {
        content: '\e90c';
        color: #fff;
        font-family: primeicons;
        padding-left: 6px;
    }
}

.cal-popup-close {
    border-radius: 100%;
    background-color: #ea2f49;
    color: #ffffff;
    height: 1.538em;
    line-height: 1.538em;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    transition: color 0.2s, background-color 0.2s, box-shadow 0.2s;
    width: 1.538em;
}

.cal-popup-close:hover {
    background-color: #b72439;
    color: #ffffff;
}